/nbproject/private/
/packages/ext-locale-af/.sencha/
/packages/ext-locale-bg/.sencha/
/packages/ext-locale-ca/.sencha/
/packages/ext-locale-cs/.sencha/
/packages/ext-locale-da/.sencha/
/packages/ext-locale-de/.sencha/
/packages/ext-locale-el_GR/.sencha/
/packages/ext-locale-en/.sencha/
/packages/ext-locale-en_AU/.sencha/
/packages/ext-locale-en_GB/.sencha/
/packages/ext-locale-es/.sencha/
/packages/ext-locale-et/.sencha/
/packages/ext-locale-fa/.sencha/
/packages/ext-locale-fi/.sencha/
/packages/ext-locale-fr/.sencha/
/packages/ext-locale-fr_CA/.sencha/
/packages/ext-locale-gr/.sencha/
/packages/ext-locale-he/.sencha/
/packages/ext-locale-hr/.sencha/
/packages/ext-locale-hu/.sencha/
/packages/ext-locale-id/.sencha/
/packages/ext-locale-it/.sencha/
/packages/ext-locale-ja/.sencha/
/packages/ext-locale-ko/.sencha/
/packages/ext-locale-lt/.sencha/
/packages/ext-locale-lv/.sencha/
/packages/ext-locale-mk/.sencha/
/packages/ext-locale-nl/.sencha/
/packages/ext-locale-no_NB/.sencha/
/packages/ext-locale-no_NN/.sencha/
/packages/ext-locale-pl/.sencha/
/packages/ext-locale-pt/.sencha/
/packages/ext-locale-pt_BR/.sencha/
/packages/ext-locale-pt_PT/.sencha/
/packages/ext-locale-ro/.sencha/
/packages/ext-locale-ru/.sencha/
/packages/ext-locale-sk/.sencha/
/packages/ext-locale-sl/.sencha/
/packages/ext-locale-sr/.sencha/
/packages/ext-locale-sr_RS/.sencha/
/packages/ext-locale-sv_SE/.sencha/
/packages/ext-locale-th/.sencha/
/packages/ext-locale-tr/.sencha/
/packages/ext-locale-ukr/.sencha/
/packages/ext-locale-vn/.sencha/
/packages/ext-locale-zh_CN/.sencha/
/packages/ext-locale-zh_TW/.sencha/
/packages/ext-theme-access/.sencha/
/packages/ext-theme-base/.sencha/
/packages/ext-theme-classic/.sencha/
/packages/ext-theme-classic-sandbox/.sencha/
/packages/ext-theme-gray/.sencha/
/packages/ext-theme-neptune/.sencha/
/packages/ext-theme-neutral/.sencha/
/servermodule/node_modules/.bin/
/servermodule/node_modules/mongodb/node_modules/bson/build/Release/.deps/
/servermodule/node_modules/mailparser/node_modules/iconv/build/Release/.deps/