/* 
    Document   : socialcmsdemo
    Created on : 30 Apr, 2013, 6:16:50 PM
    Author     : sourajit-pc
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.x-panel-ghost {
    z-index: 1;
}

.x-border-layout-ct {
    background: #DFE8F6;
}

.x-portal-body {
    padding: 0 0 0 8px;
}

.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}

.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}

.x-portlet {
    margin-bottom:10px;
    padding: 1px;
}

.x-portlet .x-panel-body {
    background: #fff;
}

.portlet-form .x-panel-body-default {
    border : none;
    padding: 10px;
    border-bottom: 1px solid black;
}

.portlet-form td.x-form-item-body  {
    width:240px !important;
}

